@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}

.primary-button {
    color: #FFFFFF;
    border-radius: 8px;
    background: #FF900E;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.text-light-gray{
color: #727272;
}

/* Nav Design  */

header nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul>li {
    margin-right: 2rem;
}

nav ul a {
    text-decoration: none;
    color: #424242;
}

/* Banner Design  */

.banner-content {
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {
    color: #131313;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.banner-description {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0 8rem;
}

.banner img {
    margin: 2rem 0;
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Teams Part Design  */
.teams-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-left: 10.5rem;

}

.teams-content {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 5rem;
    margin-left: 3rem;
}

.teams-title {
    font-size: 2.5rem;
    line-height: 3rem;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}














/* Responsive Design  */

/* small device  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    header nav, .teams-container {
        flex-direction: column;
        align-items: center;
    }

    .teams-img {  
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 0 auto;
    }
    

}

/* medium device  */